<!-- Submission form -->
<div class="col-md-6">
	<div class="panel panel-default">
  		<div class="panel-heading">
	  		Query
			<button type="submit" data-ng-click="ctrl.submit()" data-ng-disabled="form.$invalid || !ctrl.connected()" class="pull-right btn btn-default btn-xs">Submit</button>
		</div>
  		<div class="result-panel panel-body">
			<form class="form-horizontal" role="form" name="form">
				<div class="form-group">
					<label class="col-xs-4 col-form-label">Design id:</label>
					<div class="col-xs-8">
						<input type="text" class="form-control"
							data-ng-model="ctrl.query.design_id"
							placeholder="Enter design id" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-form-label">Design file:</label>
					<div class="col-xs-8">
						<div>
							<input type="text" class="form-control"
								data-ng-model="ctrl.file_name"
								disabled
								required>
							<label class="btn btn-default btn-sm btn-file btn-field">
								Choose file
								<input type="file" id="file-button"
									filereader="ctrl.file_content"
									filename="ctrl.file_name"
									placeholder="Enter DoE file">
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-form-label">Melting temp / &deg;C:</label>
					<div class="col-xs-8">
						<input type="number" class="form-control"
							data-ng-model="ctrl.query.melt_temp"
							min="60" max="80"
							placeholder="Enter melting temperature / &deg;C" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-form-label">Circular?</label>
					<div class="col-xs-8">
						<input type="checkbox" class="form-control aligned-checkbox"
							data-ng-model="ctrl.query.circular">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-form-label">Digest reagents:</label>
					<dual-listbox
						options="ctrl.restrEnzs"
			    			chosen="ctrl.query.restr_enzs"
			    			select="ctrl.selectRestEnzs(args)"
			    			deselect="ctrl.deselectRestEnzs(args)">
					</dual-listbox>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- Results panel -->
<div class="col-md-6" data-ng-controller="resultCtrl as result_ctrl"
	data-ng-show="result_ctrl.results()">
	<result-panel
		results="result_ctrl.results()"
		result="result_ctrl.result()"
		export-order="result_ctrl.exportOrder()"
		save-results="result_ctrl.saveResults()"
		results-saved="result_ctrl.resultsSaved()"
		connected="result_ctrl.connected()"
		selected="result_ctrl.selected()"
		toggle-selected="result_ctrl.toggleSelected(ft)"
		pagination="result_ctrl.pagination">
	</result-panel>
</div>