<link rel="stylesheet" href="/static/tagInput/tagInput.css" />
<div class="panel panel-default">
	<div class="panel-body">
		<span class="label label-danger tag" data-ng-repeat="tag in tags">{{tag}}
			<span class="glyphicon glyphicon-remove" data-ng-click="tags.splice($index, 1)"></span>
		</span>
		<input type="text"
			class="form-control sequence"
			data-ng-model="tagText"
			placeholder="{{placeholder}}"/>
		<button type="submit" data-ng-click="addTag({args: tags})"
			data-ng-disabled="!validTag({args: pattern})"
			class="pull-right btn btn-default btn-xs btn-field">Add</button>
	</div>
</div>