<link rel="stylesheet" href="static/dna/dna.css">
<div>
	<div class="title">{{dna.name}}</div>
	<div>{{dna.desc}}</div>

	<div class="horizontal_scroll"
		data-ng-init="setFeature({args: {ft: dna}})">
		<div data-ng-repeat="f in dna.features | orderBy: f.start"
			class="dropped feature SO{{f.typ.replace('http://identifiers.org/so/SO:', '')}}"
			data-ng-click="toggleSelected({args: {ft: f}})"
			data-ng-class="{selected: selected() === f}">
		</div>
	</div>
	
	<table class="table table-condensed table-striped">
		<tbody>
			<tr>
				<td>Name</td>
				<td>{{selected().name ? selected().name : ''}}</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>{{selected().desc ? selected().desc : ''}}</td>
			</tr>
			<tr>
				<td>Start</td>
				<td>{{selected().start ? selected().start : ''}}</td>
			</tr>
			<tr>
				<td>End</td>
				<td>{{selected().end ? selected().end : ''}}</td>
			</tr>
			<tr>
				<td>Length</td>
				<td>{{selected() && selected().seq ? selected().seq.length : selected().end - selected().start - 1}}</td>
			</tr>
			<tr>
				<td>Strand</td>
				<td>{{selected().forward ? '+' : '-'}}</td>
			</tr>
			<tr>
				<td>Sequence</td>
				<td>
					<textarea
						class="form-control sequence"
						readonly>{{selected() && selected().seq ? selected().seq : dna.seq.substring(selected().start - 1, selected().end)}}</textarea>
				</td>
			</tr>
			<tr data-ng-repeat="(key, val) in selected().parameters">
				<td>{{key}}</td>
				<td>{{format(val)}}</td>
			</tr>
			<tr data-ng-show="selected().links && selected().links.length">
				<td>Links</td>
				<td>
					<div data-ng-repeat="link in selected().links">
						<a data-ng-href="{{link}}" target="_blank">{{link}}</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>