<!doctype html>
<html data-ng-app="pathwayGenieApp" data-ng-controller="pathwayGenieCtrl as ctrl">
<head>
<title>PartsGenie</title>
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
<script src="//www.gstatic.com/charts/loader.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
<script src="static/design/angular-drag-and-drop-lists.js"></script>
<script src="static/design/design.module.js"></script>
<script src="static/design/design.directive.js"></script>
<script src="static/design/feature.directive.js"></script>
<script src="static/dna/dna.module.js"></script>
<script src="static/dna/dna.directive.js"></script>
<script src="static/dualListbox/dualListbox.module.js"></script>		
<script src="static/dualListbox/dualListbox.directive.js"></script>
<script src="static/error/error.module.js"></script>
<script src="static/error/error.service.js"></script>
<script src="static/error/error.ctrl.js"></script>
<script src="static/help/help.module.js"></script>
<script src="static/help/help.directive.js"></script>
<script src="static/ice/ice.module.js"></script>
<script src="static/ice/ice.service.js"></script>
<script src="static/ice/ice.ctrl.js"></script>
<script src="static/pathwayGenie/pathwayGenie.module.js"></script>
<script src="static/pathwayGenie/pathwayGenie.service.js"></script>
<script src="static/pathwayGenie/pathwayGenie.ctrl.js"></script>
<script src="static/pathwayGenie/filereader.directive.js"></script>
<script src="static/partsGenie/partsGenie.module.js"></script>
<script src="static/partsGenie/partsGenie.service.js"></script>
<script src="static/partsGenie/partsGenie.ctrl.js"></script>
<script src="static/plasmidGenie/plasmidGenie.module.js"></script>		
<script src="static/plasmidGenie/plasmidGenie.ctrl.js"></script>
<script src="static/progress/progress.module.js"></script>
<script src="static/progress/progress.service.js"></script>
<script src="static/progress/progress.ctrl.js"></script>
<script src="static/result/result.module.js"></script>
<script src="static/result/result.service.js"></script>
<script src="static/result/result.ctrl.js"></script>
<script src="static/result/result.directive.js"></script>
<script src="static/tagInput/tagInput.module.js"></script>
<script src="static/tagInput/tagInput.ctrl.js"></script>
<script src="static/tagInput/tagInput.directive.js"></script>
<script src="static/typeahead/typeahead.module.js"></script>
<script src="static/typeahead/typeahead.service.js"></script>
<script src="static/typeahead/typeahead.ctrl.js"></script>
<script src="static/uniprot/dirPagination.js"></script>
<script src="static/uniprot/uniprot.module.js"></script>
<script src="static/uniprot/uniprot.service.js"></script>
<script src="static/uniprot/uniprot.ctrl.js"></script>
<script src="static/uniprot/uniprotTerms.module.js"></script>
<script src="static/uniprot/uniprotTerms.ctrl.js"></script>
<link rel="shortcut icon" href="static/favicon.ico">
<base href="/">
</head>
<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar-collapse"
					aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href=".">
					<span><img alt="GeneMill" src="static/favicon.ico" class="icon"></span>
					PartsGenie
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="navbar-collapse">
				<ul class="nav navbar-nav">		
 					<li class="dropdown">		
 						<a href="#" class="dropdown-toggle"		
 							data-toggle="dropdown" role="button" aria-haspopup="true"		
 							aria-expanded="false">Design<span class="caret"></span>		
 						</a>		
 						<ul class="dropdown-menu">		
 							<li data-ng-class="{active: ctrl.route.current.app === 'PartsGenie'}">		
 								<a href="./partsGenie">PartsGenie</a>		
 							</li>			
 							<li data-ng-class="{active: ctrl.route.current.app === 'PlasmidGenie'}">		
 								<a href="./plasmidGenie">PlasmidGenie</a>		
 							</li>		
 						</ul>		
 					</li>			
 				</ul>
	    			<div class="nav navbar-nav navbar-right">
	    			    	<button class="btn btn-primary navbar-btn" role="button"
	    					data-ng-click="ctrl.toggleHelp()"
	    					data-toggle="button" aria-pressed="false">
	  						<span class="glyphicon glyphicon-question-sign"></span>
	  						<span>&nbsp;Help</span>
					</button>
	    				<button class="btn navbar-btn" role="button"
	    					data-ng-click="ctrl.showIce()"
	    					data-ng-class="{'btn-success': ctrl.connected(), 'btn-danger': !ctrl.connected()}">
	  						<span data-ng-if="!ctrl.connected()" class="glyphicon glyphicon-log-in"></span>
	  						<span data-ng-if="ctrl.connected()" class="glyphicon glyphicon-log-out"></span>
	  						<span>&nbsp;ICE</span>
					</button>
	    			</div>
			</div>
		</div>
	</nav>

	<div class="col-md-12">
		<div data-ng-view></div>
	</div>
</body>
</html>