.icon
{
	height: 16px;
	width: 16px;
}

.center
{
	text-align: center;
}

.sequence
{
	text-transform: uppercase;
	font-family: monospace;
	resize: none;
}

.sequence.form-control[readonly]
{
	background-color: #ffffff;
}

.mutated
{
	border: 1px blue solid;
}

#file-button
{
	display: none;
}

.btn-field
{
	margin-top: 3px;
}

.aligned-checkbox
{
	margin: 0px;
	height: 20px;
}

input.ng-invalid, textarea.ng-invalid
{ 
	border: 1px red solid;
}

.tt-menu
{
	background-color: #fff;
 	border: 1px solid #addbfc;
}

.tt-suggestion
{
	padding: 0px 5px;
}

.tt-suggestion.tt-cursor
{
	background-color: #addbfc;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu
{
	width: 100%;
}

/***************************** Features *****************************/

.feature {
	display: inline-block;
	width: 50px;
	height: 100px;
 	background-image: url("sbolv/user-defined.svg");
}

.feature.SO0000139 {
	background-image: url("sbolv/ribosome-entry-site.svg");
}

.feature.SO0000141 {
	background-image: url("sbolv/terminator.svg");
}

.feature.SO0000167 {
	background-image: url("sbolv/promoter.svg");
}

.feature.SO0000296 {
	background-image: url("sbolv/origin-of-replication.svg");
}

.feature.SO0000316 {
	background-image: url("sbolv/cds.svg");
}

.feature.invalid {
	border: 1px red solid;
}

.feature.selected {
    background-color: #b4d5fe;
}

.feature.dropped:hover {
	background-color: #f5f5f5;
}

.feature.dropped.selected:hover {
	background-color: #b4d5fe;
}

/***************************** Filters ******************************/

.no-left-pad {
	padding-left: 0px !important;
}

.no-right-pad {
	padding-right: 0px !important;
}

.add-bottom-margin {
	margin-bottom: 3px !important;
}