<!-- Help -->
<div data-ng-show="ctrl.showHelp()">
	<help-panel></help-panel>
</div>

<!-- Submission form -->
<div data-ng-show="!ctrl.showHelp()">
	<div class="col-md-6">
		<form class="form-horizontal" role="form" name="form">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapse1">Parts</a>
						<button type="submit" data-ng-click="ctrl.submit()"
							data-ng-disabled="!ctrl.hasFeatures() || ctrl.response.update.status == 'running' || form.$invalid"
							data-ng-class="(!ctrl.hasFeatures() || ctrl.response.update.status == 'running' || form.$invalid) ? 'btn-danger': 'btn-success'"
							class="pull-right btn btn-xs">Submit</button>
					</div>
					<div id="collapse1" class="panel-collapse collapse">
						<design-panel
							templates="ctrl.templates"
							query="ctrl.query"
							selected="ctrl.selected()"
							toggle-selected="ctrl.toggleSelected(args)"
							add-design="ctrl.addDesign()"
							copy-design="ctrl.copyDesign()"
							remove-design="ctrl.removeDesign()"
							add-feature="ctrl.addFeature(args)"
							copy-feature="ctrl.copyFeature(args)"
							bulk-uniprot="ctrl.bulkUniprot(args)"
							pagination="ctrl.pagination">
						</design-panel>
						<div class="panel-body">
							<div class="form-group">
								<label class="col-xs-4 col-form-label">Organism:</label>
								<div class="col-xs-8" data-ng-controller="typeaheadCtrl as typeahead_ctrl">
									<input type="text" class="form-control"
										data-ng-init="typeahead_ctrl.url='/organisms/'"
										data-ng-model="ctrl.query.organism"
										data-ng-required="ctrl.organismRequired()"
										placeholder="Select host organism" required autocomplete="off"
										uib-typeahead="organism as organism.name for organism in typeahead_ctrl.getItem({'term': $viewValue})"
										typeahead-min-length="3" typeahead-editable="false">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapse2">Filters</a>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="form-group">
								<label class="col-xs-4 col-form-label">Max repeating nucleotides:</label>
								<div class="col-xs-8">
									<input type="number" class="form-control"
										data-ng-model="ctrl.query.filters.max_repeats" min="4"
										max="1000000" step="1"
										placeholder="Enter maximum repeating nucleotides" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-4 col-form-label">Excluded codons:</label>
								<div class="col-xs-8" data-ng-controller="tagInputCtrl as tag_ctrl">
								    <tag-input
								    	placeholder="'Codon'"
								    	tags="ctrl.query.filters.excl_codons"
								    	pattern="ctrl.codons_regex"
								    	tag-text="tag_ctrl.tagText"
								    	add-tag="tag_ctrl.addTag(args)"
								    	valid-tag="tag_ctrl.validTag(args)">
								    </tag-input>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-4 col-form-label">Global GC:</label>
								<div class="col-xs-8">
									<div class="panel panel-default">
										<div class="panel-body">
											<label class="no-left-pad col-xs-4 col-form-label">Minimum:</label>
											<div class="col-xs-8 no-right-pad add-bottom-margin">
												<input type="number" class="form-control"
													data-ng-model="ctrl.query.filters.gc_min"
													min="0"
													max="{{ctrl.query.filters.gc_max}}" step="0.01"
													placeholder="Global GC minimum" required>
											</div>
											<label class="no-left-pad col-xs-4 col-form-label">Maximum:</label>
											<div class="col-xs-8 no-right-pad">
												<input type="number" class="form-control"
													data-ng-model="ctrl.query.filters.gc_max"
													min="{{ctrl.query.filters.gc_min}}"
													max="1" step="0.01"
													placeholder="Global GC maximum" required>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-4 col-form-label">Local GC:</label>
								<div class="col-xs-8">
									<div class="panel panel-default">
										<div class="panel-body">
											<label class="no-left-pad col-xs-4 col-form-label">Window:</label>
											<div class="col-xs-8 no-right-pad add-bottom-margin">
												<input type="number" class="form-control"
													data-ng-model="ctrl.query.filters.local_gc_window"
													min="0"
													max="64" step="1"
													placeholder="Local GC window" required>
											</div>
											<label class="no-left-pad col-xs-4 col-form-label">Minimum:</label>
											<div class="col-xs-8 no-right-pad add-bottom-margin">
												<input type="number" class="form-control"
													data-ng-model="ctrl.query.filters.local_gc_min"
													min="0"
													max="{{ctrl.query.filters.local_gc_max}}" step="0.01"
													placeholder="Local GC minimum" required>
											</div>
											<label class="no-left-pad col-xs-4 col-form-label">Maximum:</label>
											<div class="col-xs-8 no-right-pad">
												<input type="number" class="form-control"
													data-ng-model="ctrl.query.filters.local_gc_max"
													min="{{ctrl.query.filters.local_gc_min}}"
													max="1" step="0.01"
													placeholder="Local GC maximum" required>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-12 col-form-label">Excluded restriction sites:</label>
								<dual-listbox
									options="ctrl.restrEnzs"
						    		chosen="ctrl.query.filters.restr_enzs"
						    		select="ctrl.selectRestEnzs(args)"
						    		deselect="ctrl.deselectRestEnzs(args)">
								</dual-listbox>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<!-- Feature panel -->
	<div class="col-md-6" data-ng-show="ctrl.selected()">
		<feature-panel
			selected="ctrl.selected()"
			set-valid="ctrl.setValid(valid)"
			search-uniprot="ctrl.searchUniprot(query)"
			searching="ctrl.searching()"
			is-ambiguous-seq="ctrl.isAmbiguousSeq(query)">
		</feature-panel>
	</div>
	
	<!-- Results panel -->
	<div class="col-md-6" data-ng-controller="resultCtrl as result_ctrl"
		data-ng-show="result_ctrl.results()">
		<result-panel
			results="result_ctrl.results()"
			result="result_ctrl.result()"
			export-order="result_ctrl.exportOrder()"
			save-results="result_ctrl.saveResults()"
			results-saved="result_ctrl.resultsSaved()"
			connected="result_ctrl.connected()"
			selected="result_ctrl.selected()"
			toggle-selected="result_ctrl.toggleSelected(ft)"
			pagination="result_ctrl.pagination">
		</result-panel>
	</div>
</div>

<!--
<div class="col-md-12">
	<pre>{{ctrl.queryJson}}</pre>
</div>
-->