.title
{
    font-weight: bold;
    /* text-align: center; */
}

.parameters
{
	margin-top: 20px;
}

dt
{
	float: left;
	clear: left;
	text-align: right;
}

dt:after
{
	content: ":";
}

dd
{
	margin: 0 0 0 100px;
	padding: 0 0 5px 0;
}